@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*::placeholder{
    color: white;
}

.main{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
}

.section{
    flex: 2;
    transition: 300ms;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.section:first-child{
    background-color: rgba(0, 0, 0, 0.3);
}

.section:hover{
    flex: 6;
    z-index: 1;
}

.login:hover{
    box-shadow: 0px -100px 100px rgba(0, 0, 0, 0.5);
}

.register:hover{
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.7);
}

.header{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-section{
    grid-column: 1;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    padding: 50px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgba(255,255,255,0.2);
}

.input:not(.check-haslo){
    width: 20vw;
    height: 5vh;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding: 5px;
}

.input:focus{
    background-color: rgba(255, 255, 255, 0.1);
    filter: drop-shadow(0px 0px 20px white);
    border-radius: 5px 5px 0px 0px;
}

h1{
    font-size: 3rem;
    color: white;
}

.icon{
    color: white;
}

.show-passwd-section{
    width: 20vw;
    display: flex;
    gap: 5vw;
    color: white;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.btn{
    width: 20vw;
    height: 4vh;
    cursor: pointer;
    border: none;
    transition: 300ms;
    color: white;
    background-color: rgba(48, 207, 208,0.5);
    border-radius: 5px;
}

.btn:hover{
    filter: drop-shadow(16px 16px 50px rgba(255,255,255,0.5));
}

